name: Py2 Test

on:
  pull_request: {}
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [2.7]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install pynetbox and testing packages.
        run: pip install . mock

      - name: Run Tests
        run: python -m unittest discover 

