name: Py3 Test

on:
  pull_request: {}
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11"]
        netbox: ["3.4", "3.5", "3.6", "3.7"]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt .

      - name: Run Linter
        run: black --diff --check pynetbox tests
          
      - name: Run Tests
        run: pytest --netbox-versions=${{ matrix.netbox }}
